<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.solo.mappers.MovieMapper">
    <sql id="boardColumns">
        boardid, title, writer, created_at as createdAt, modified_at as modifiedAt, content, commentcount, likecount, viewcount, memberid
    </sql>

    <!-- 전체 멤버 이메일 확인 -->
    <select id="memberInfo" resultType="com.kitri.solo.dto.MemberInfo" >
        SELECT * FROM member
    </select>
    <!-- 멤버정보 추가 -->
    <insert id="memberSave" parameterType="com.kitri.solo.dto.MemberInfo">
        INSERT INTO member (
            email, name, password, birthday, introduce
        ) VALUES ( #{email}
                 , #{name}
                 , #{password}
                 , #{birthday}
                 , #{introduce})
    </insert>

    <update id="memberUpdate" parameterType="com.kitri.solo.dto.MemberInfo">
        UPDATE member
        SET
            name = #{name},
            password = #{password},
            birthday = #{birthday},
            introduce = #{introduce}
        WHERE
            email = #{email}
    </update>

    <delete id="memberDelete" parameterType="com.kitri.solo.dto.MemberInfo">
        DELETE FROM member
        WHERE memberid = #{memberid}
    </delete>

    <!--게시판-->
    <select id="boardInfo" resultType="com.kitri.solo.dto.ResponseDtoBoard">
        SELECT <include refid="boardColumns"/> FROM board
    </select>

</mapper>